* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E6E3E3;
}

.pulse-effect {
    font-size: 40px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse {
    width: 40%;
    height: 800px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.effect1 {
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: pulse-effect1;
    animation: pulse-effect1 2s infinite;
    
}

@keyframes pulse-effect1 {
    0% {
         box-shadow: 0 0 0 0 rgba(102, 101, 101, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(179, 179, 179, 0);
    }
    100% {
         box-shadow: 0 0 0 0 rgba(90, 90, 90, 0);
    }
}

.effect2 {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: pulse-effect2;
    animation: pulse-effect2 2s infinite;
}

@keyframes pulse-effect2 {
    0% {
         box-shadow: 0 0 0 0 rgb(255, 4, 4, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(243, 85, 85, 0);
    }
    100% {
         box-shadow: 0 0 0 0 rgba(126, 5, 5, 0);
    }
}

.effect3 {
    background-color: orangered;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: pulse-effect3;
    animation: pulse-effect3 2s infinite;
}

@keyframes pulse-effect3 {
    0% {
         box-shadow: 0 0 0 0 rgb(255, 75, 4, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(243, 85, 85, 0);
    }
    100% {
         box-shadow: 0 0 0 0 rgba(126, 5, 5, 0);
    }
}

.effect4 {
    background-color: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: pulse-effect4;
    animation: pulse-effect4 2s infinite;
}

@keyframes pulse-effect4 {
    0% {
         box-shadow: 0 0 0 0 rgb(255, 136, 0, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(243, 85, 85, 0);
    }
    100% {
         box-shadow: 0 0 0 0 rgba(126, 5, 5, 0);
    }
}

.effect5 {
    background-color: lightblue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: pulse-effect5;
    animation: pulse-effect5 2s infinite;
}

@keyframes pulse-effect5 {
    0% {
         box-shadow: 0 0 0 0 rgb(95, 182, 240, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(243, 85, 85, 0);
    }
    100% {
         box-shadow: 0 0 0 0 rgba(126, 5, 5, 0);
    }
}

.effect6 {
    background-color: lightgreen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: pulse-effect6;
    animation: pulse-effect6 2s infinite;
}

@keyframes pulse-effect6 {
    0% {
         box-shadow: 0 0 0 0 rgb(65, 180, 27, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(243, 85, 85, 0);
    }
    100% {
         box-shadow: 0 0 0 0 rgba(126, 5, 5, 0);
    }
}

.effect7 {
    background-color: purple;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: pulse-effect7;
    animation: pulse-effect7 2s infinite;
}

@keyframes pulse-effect7 {
    0% {
         box-shadow: 0 0 0 0 rgb(109, 2, 86, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(243, 85, 85, 0);
    }
    100% {
         box-shadow: 0 0 0 0 rgba(126, 5, 5, 0);
    }
}

.effect8 {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: pulse-effect8;
    animation: pulse-effect8 2s infinite;
}

@keyframes pulse-effect8 {
    0% {
         box-shadow: 0 0 0 0 rgb(0, 0, 0, 1);
    }
    70% {
        box-shadow: 0 0 0 10px rgb(243, 85, 85, 0);
    }
    100% {
         box-shadow: 0 0 0 0 rgba(126, 5, 5, 0);
    }
}
